.wrapper{
    display: grid;   
    align-items: center;
    width: 100%;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
}

.content {
    display: flex; 
    justify-content: center;
    align-items: center;
}